name: keepapp
description: A new Flutter application.

version: 1.0.2+2

environment:
  sdk: ">=2.1.0 <3.0.0"


dependencies:
  flutter:
    sdk: flutter
  http: ^0.12.0+4
  rxdart: ^0.23.1
  flutter_colorpicker: ^0.3.2
  fluttertoast: ^4.0.1
  tinycolor: ^1.0.2
  cupertino_icons: ^0.1.3
  linear_gradient: ^0.1.12
  url_launcher: ^5.4.2
  flutter_staggered_grid_view: ^0.3.0
  flutter_swiper: ^1.1.6
  provider: ^4.0.4
  intl: ^0.16.1
  overlay_support: ^1.0.3
  flutter_svg: ^0.17.4
  cross_local_storage: ^1.1.1

dev_dependencies:
  flutter_test:
    sdk: flutter



flutter:
  uses-material-design: true

  assets:
    - assets/images/

  fonts:
    - family: Avenir
      fonts:
        - asset: assets/fonts/Avenir.ttf
    - family: OpenSans
      fonts:
        - asset: assets/fonts/OpenSans.ttf
    - family: Blaster
      fonts:
        - asset: assets/fonts/Blaster.ttf